@page
@model ShopManagement.Application.Contracts.ProductCategory.CreateProductCategory


<div class="container container--max--xl">

    <div class="card">
        <div class="card-body p-5">

            <div class="mb-5">
                <h2 class="mb-0 fs-exact-18">Create New Category</h2>
            </div>

            <form asp-page="./Index" asp-page-handler="Create" method="post" enctype="multipart/form-data" class="row g-4">

                <div class="col-md-6">
                    <label asp-for="Name" class="form-label">Name</label>
                    <input type="text" asp-for="Name" class="form-control" />

                    <span asp-validation-for="Name" class="alert-sa-danger-card"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="Slug" class="form-label">Slug</label>
                    <input type="text" asp-for="Slug" class="form-control" />

                    <span asp-validation-for="Slug" class="alert-sa-danger-card"></span>
                </div>

                <div class="col-md-12">
                      <label asp-for="Picture" class="form-label">Picture</label>
                    <input type="file" asp-for="Picture" class="form-control" accept="image/*" />

                       <span asp-validation-for="Picture" class="alert-sa-danger-card"></span>
                 </div>

                <div class="col-md-6">
                    <label asp-for="PictureAlt" class="form-label">Alt</label>
                    <input type="text" asp-for="PictureAlt" class="form-control" />

                    <span asp-validation-for="PictureAlt" class="alert-sa-danger-card"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="PictureTitle" class="form-label">Title</label>
                    <input type="text" asp-for="PictureTitle" class="form-control" />

                    <span asp-validation-for="PictureTitle" class="alert-sa-danger-card"></span>
                </div>

                <div class="col-md-12">
                    <label asp-for="Description" class="form-label">Description</label>
                    <textarea class="form-control" asp-for="Description" rows="4"></textarea>

                    <span asp-validation-for="Description" class="alert-sa-danger-card"></span>
                </div>

                <div class="col-md-12">
                    <label asp-for="Keywords" class="form-label">Keywords</label>
                    <input type="text" asp-for="Keywords" class="form-control" />

                    <span asp-validation-for="Keywords" class="alert-sa-danger-card"></span>
                </div>

                <div class="col-md-12">
                    <label asp-for="MetaDescription" class="form-label">Meta Description</label>
                    <textarea class="form-control" asp-for="MetaDescription" rows="4"></textarea>

                    <span asp-validation-for="MetaDescription" class="error alert-sa-danger-card"></span>
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>

        </div>


    </div>

</div>
